@import 'bootstrap/dist/css/bootstrap.css';
@import 'bootstrap-vue/dist/bootstrap-vue.css';
@import '@uppy/core/dist/style.css';
@import '@uppy/file-input/dist/style.css';

.asterisk {
  padding-left: 5px;
  color: red;
}

.bg-white {
  background-color: #fff;
  color: rgba(0,0,0,.87);
  box-shadow: 0 2px 4px -1px rgba(0,0,0,.2), 0 4px 5px 0 rgba(0,0,0,.14), 0 1px 10px 0 rgba(0,0,0,.12);
}

.body-bg-yellow {
  background-color: #FFFCF5;
}
.body-bg-white {
  background-color: #fff;
}

.font-lato {
  font-family: 'Lato', sans-serif;
}
.font-lato-th { // for table headers
  text-transform: uppercase;
  font-size: 11px;
  font-family: 'Lato', sans-serif;
}
